.holla {
    background-color: hotpink;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.form-group {
    padding: 5px;
}

label {
    padding: 10px;
}

form, table {
    background-color: #CED0CE;
}

table {
    margin-bottom: 5%;
}

button {
    background-color: #F15025;
}

.main {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px
}

th {
    padding: 10px;
    width: 100vw;
}