<div class="holla">
    <div class="container">
      <h1>Please select a trip.</h1>
      <form [formGroup]="tripForm">
        <div class="form-group">
          <button class="main">Search</button>
          <button class="main">Create Trip</button>
        </div>
        <div class="form-group">
          <label>Start Date:</label>
          <input formControlName="startDate" type='date' placeholder='Start Date' />
          <label>End Date:</label>
          <input formControlName="endDate" type='date' placeholder='End Date' />
        </div>
        <div class="form-group">
          <label>Start Time:</label>
          <input formControlName="startTime" type='time' placeholder='Start Time' />
          <label>End Time:</label>
          <input formControlName="endTime" type='time' placeholder='End Time' />
        </div>
        <div class="form-group">
          <select formControlName="location" name='Locations'>
            <option>Pick a Location</option>
            <!-- {{locations.map(location =>
              <option value='{{location.id}}'>{{location.name}}</option>
            )}} -->
          </select>
      </div>
      </form>
      <div>
        <table>
          <thead>
            <tr>
              <th>Resort Name</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Number of Seats Available</th>
              <th>Seat Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor='let trips of this.trips' class='{{trips.id}}'>
                <td>{{trips.resort_name}}</td>
                <td>{{trips.start_time}}</td>
                <td>{{trips.end_time}}</td>
                <td>{{trips.seats_available}}</td>
                <td>${{trips.seat_price}}</td>
                <td>
                  <button>Book Trip</button>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>