body {
    height: 80vh;
    width:100vw;
    background: url('../../assets/snowboarder.jpg') no-repeat;
    background-position:center center;
    background-size:cover;
    display: flex;
    
}

.card-body {
    background-color: #e6e8e6;
}

.btn {
    background-color: #f15025;
    border-color: #000
}

.login {
    position: relative;
    top: 15%;
    left: 10%; 
}

.container {
    margin: 0;
}


.cardFlex{
    display: flex;
    align-content: space-around;
}

.flex {
    display: flex;
}
